### format_for_list

In [3]:
s = '{} {} {} '
f = s.format('안','윤','기')
print(f)

안 윤 기

In [5]:
s ='{}이는 {}와 {}를 좋아한다'
f=s.format('안','윤','기')
print(f)

안이는 윤와 기를 좋아한다

In [6]:
s ='{}이는 {}번이고 {}를 진학했다'
f=s.format('안','30310','우리집')
print(f)

안이는 30310번이고 우리집를 진학했다

In [26]:
name='매롱'
num=30310
add='인천시 부평구'
s ='{}이는 {}번이고 {}를 살고있다'
f=s.format(name,num,add)
print(f)

매롱이는 30310번이고 인천시 부평구를 살고있다

In [9]:
name='매롱'
num=30310
add='인천시 부평구'
s ='{}이는 {}번이고 {}를 살고있다'
f=s.format(name,num,add)
print(f)

매롱이는 30310번이고 인천시 부평구를 살고있다

In [27]:
stu= input('이름 학번 주소>').split()

s ='{}이는 {}번이고 {}를 살고있다'
f=s.format(name,num,add)
print(f)

이름 학번 주소>안 303 부평구
매롱이는 30310번이고 인천시 부평구를 살고있다

In [28]:
stu

['안', '303', '부평구']

In [29]:
stu[0],stu[1]

('안', '303')

In [33]:
name= input('이름>')
num=input('학번>')
add=input('주소>')
s ='{}이는 {}번이고 {}를 살고있다'
f=s.format(name,num,add)
print(f)

이름>앙앙
학번>123123
주소>ㅁㄴ아람ㅇㄴㄹ
앙앙이는 123123번이고 ㅁㄴ아람ㅇㄴㄹ를 살고있다

#### [문제1] 다음과 같은 양식으로 입력받아 출력하기
햄버거 2 4입력하면
햄버거 2개 값은 8달라 입니다

In [37]:
num=int(input('햄버거>'))
add=int(input('가격>'))
s ='햄버거 {}개 값은 {}달라입니다'
f=s.format(num,add*num)
print(f)

햄버거>2
가격>4
햄버거 2개 값은 8달라입니다

In [38]:
info = '%d %s %f '
pr = info%(20,'인천',0.5)
print(pr)

20 인천 0.500000

In [42]:
info = '%d년도 %s여고 %0.2f퍼센트 '
pr = info%(20,'인천',0.5)
print(pr)

20년도 인천여고 0.50퍼센트

###[문제2]햄버거 2개는 8달라이다.

In [44]:
data = '%s %d개는 %d달라'
pr = data%('햄버거',2,2*4)
print(pr)

햄버거 2개는 8달라

## List

In [46]:
arr=[1,2,3,4,5]
arr

[1, 2, 3, 4, 5]

In [53]:
arr=['안','윤','기','다']
arr

['안', '윤', '기', '다']

In [51]:
arr[0]

'안'

In [55]:
len(arr)

4

In [58]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [61]:
for i in range(1,6,-1):
    print(i)

In [62]:
for i in arr:
    print(i)

안
윤
기
다

In [65]:
for i in range(len(arr)):
    print(arr[i])

안
윤
기
다

In [67]:
for i,vai in enumerate(arr):
    print(arr[i])

안
윤
기
다

In [70]:
for i,vai in enumerate(arr):
    print(i+1,'번',vai)

1 번 안
2 번 윤
3 번 기
4 번 다

## [문제1] 30부터 50까지 출력해보기

In [73]:
for i in range(30,51):
    print(i)

30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

## [문제2] 30부터 50까지 중에서 홀수만 출력해보기

In [81]:
for z in range(30,51):
    if z%2!=0 :
        print(z)

31
33
35
37
39
41
43
45
47
49

## [문제3]30부터 50까지 중에서 홀수만 더해서 sum에 넣고 출력

In [90]:
sum=0
for z in range(30,51):
    if z%2!=0 :
        sum=sum+z
print(sum)

400

## [문제4]
 1부터 10까지 중에서
 짝수이면 파이썬
 홀수이면 야 너도 할수있어 출력

In [95]:
for f in range(1,11):
    if f%2!=0 :
        print('야 너도 할수있어') 
    else :
        print('파이썬')

야 너도 할수있어
파이썬
야 너도 할수있어
파이썬
야 너도 할수있어
파이썬
야 너도 할수있어
파이썬
야 너도 할수있어
파이썬