## 엑셀데이터 가져오기

In [1]:
import pandas as pd

In [3]:
path = 'data.csv'

In [5]:
path

'data.csv'

In [11]:
df=pd.read_csv(path)

In [13]:
df

   A  2013  1.5
0  B  2014  3.2
1  C  2015  2.4
2  D  2016  1.8
3  E  2017  2.8
4  F  2018  1.9
5  G  2019  2.0
6  H  2020  2.5

In [15]:
df.head(3)

   A  2013  1.5
0  B  2014  3.2
1  C  2015  2.4
2  D  2016  1.8

In [17]:
df['이름']='AAA'

In [19]:
df['포인트']=0.0

In [26]:
df[df['2013']>= 2016]

   A  2013  1.5   이름  포인트
2  D  2016  1.8  AAA  0.0
3  E  2017  2.8  AAA  0.0
4  F  2018  1.9  AAA  0.0
5  G  2019  2.0  AAA  0.0
6  H  2020  2.5  AAA  0.0